.pg-header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 40px;
    background-color: #0a80e3;
    line-height: 40px;
    font-size: 25px;
    font-family: 微软雅黑, serif;
}

.w {
    width: 980px;
    margin: 0 auto;
}

.pg-header .style {
    display: inline-block;
    float: left;
    /*padding: 0 10px 0 10px;*/
    color: white;
}

.pg-body {
    margin-top: 70px;
    font-size: 20px;
    background-color: white;
    /*width: 100px;*/
    height: 30px;
}

.pg-bd1 {
    margin-top: 120px;
    font-size: 20px;
    background-color: white;
    /*width: 100px;*/
    height: 30px;
}
/*.pg-x{*/
    /*float: left;*/
    /*width: auto;*/
    /*height: auto;*/
    /*background-color: #0a80e3;*/
    /*text-align: center;*/
    /*font-size: 20px;*/
    /*color: white;*/
    /*font-family: 微软雅黑, serif;*/
/*}*/

.pg-x{
    width: 150px;
    height: 40px;
    font-size: 20px;
    /*font-family: 微软雅黑, serif;*/
    font-family: "open sans", "Helvetica Neue", "微软雅黑", Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    line-height: 40px;
    background: #2783e0;
    /*margin: 0 0 10px 1px;*/
    /*border-radius: 4px;*/
}

/*当鼠标移动当前标签上时，css标签才生效*/
.pg-header .style:hover {
    background-color: blue;
}

/* 所有class为menu的div中的ul样式 */
div.menu ul {
    list-style: none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */
}

/* 所有class为menu的div中的ul中的li样式 */
div.menu ul li {
    float: left; /* 向左漂移，将竖排变为横排 */
    width: 280px;
    height: 30px;
}

/* 所有class为menu的div中的ul中的a样式(包括尚未点击的和点击过的样式) */
div.menu ul li a, div.menu ul li a:visited {
    /*background-color: #0a80e3; !* 背景色 *!*/
    /*background-color: #1a7bb9;*/
    background-color: #f0f0f0;
    border: 1px #dde4ec solid;
    /*color: #dde4ec; !* 文字颜色 *!*/
    color: black;
    display: block; /* 此元素将显示为块级元素，此元素前后会带有换行符 */
    line-height: 1.35em; /* 行高 */
    padding: 4px 20px; /* 内部填充的距离 */
    text-decoration: none; /* 不显示超链接下划线 */
    white-space: nowrap; /* 对于文本内的空白处，不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。 */
    font-family: 微软雅黑, serif;
}

/* 所有class为menu的div中的ul中的a样式(鼠标移动到元素中的样式) */
div.menu ul li a:hover {
    background-color: #bfcbd6; /* 背景色 */
    color: #465c71; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}

/* 所有class为menu的div中的ul中的a样式(鼠标点击元素时的样式) */
div.menu ul li a:active {
    background-color: #465c71; /* 背景色 */
    color: #cfdbe6; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}