<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title_index</title>
</head>
<body>
{#    {{user_dict.1}}#}
{#    <ul>#}
{#        {% for k,row in user_dict.items %}#}
{#            <li><a href="/detail/?nid={{ k }}"> {{ row.name }} </a></li>#}
{#              <li>{{ k }}, {{ row }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}

    <ul>
        {% for k,row in user_dict.items %}
            <li><a href="/detail-{{k}}.html"> {{ row.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>